{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
  <h1>Contact</h1>

  {% if app.session.flashbag.get('notice') is defined %}
    <div class="alert alert-info" role="alert">
      
      {% for message in app.session.flashbag.get('notice') %}
        {{ message }}{% if not loop.last %}<br />{% endif %}
      {% endfor %}
      
    </div>
  {% endif %}

{% endblock %}